body{
  background-color: antiquewhite;
  margin: 0;
}

.rela{
  position: relative;
  display: inline-block;
}

.button{
  padding:10px 10px;
  color: white ;
  background-color: rgb(142, 26, 26);
  border-radius: 5px;
  border:none;
}

.car ,.dropdown1,.dropdown2,.dropdown3{
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
  border-radius: 10px;
  min-width:180px;
  background-color: #fff;

}

.dropdown1{
  left:160px;
  top: 0;
}
.dropdown2{
  left:160px;
  top: -45px;
}
.dropdown3{
  left:160px;
  top: -90px;
}
  .item, 
  .dropdown1 a,
  .dropdown2 a,
  .dropdown3 a
  {
    padding: 13px 14px;
    font-size: 16px;
    display: block;
  }
  .newClass{
    padding: 21px 14px;
    display: block;
  }
  .dropdown1 p,
  .dropdown2 p,
  .dropdown3 p{
    padding: 9px 14px;
    font-size: 16px;
    /* display: block; */
    font-weight: bold;
    margin: 0;
  }

  .rela:hover   .car{
    display: block; 
    cursor: pointer;
    
  }
  .item:hover, 
  .dropdown1 a:hover,
  .dropdown2 a:hover,
  .dropdown3 a:hover
  {
    background-color: rgb(243, 215, 215);
  }
  #item1{
    position: relative;
  }
  #item2{
    position: relative;
  }
  #item3{
    position: relative;
  }

  #item1:hover .dropdown1,
  #item2:hover .dropdown2,
  #item3:hover .dropdown3{
    display: block;
  }

.nav{
  /* padding: 10px; */
  height: 125px;
  display: table;
  padding: 0 90px;
  margin: 10px;
  flex-wrap: nowrap;
  /* grid-template-columns: repeat(auto-fill,minmax(100px,auto )); */
  /* grid-template-columns: minmax(122px,auto ); */
  /* grid-auto-flow: column; */
  border-radius: 5px;
  box-shadow: 0 10px 10px 0  rgba(53, 32, 32, 0.3);
  background-color: rgb(251, 249, 246);
  /* overflow: hidden; */
  
}

/* .items{ */
  
  /* border: 1px solid #c5bfbf; */
  /* height: 100px; */
  /* border-radius: 5px; */
  /* box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1); */
  /* text-align: center;
  align-content: center; */
  /* border: none */
  /* padding: 16px; */
/* } */
.items {
  display: table-cell;
  
  box-sizing: border-box;
  /* flex-direction: column; */
  height:125px;
  min-width: 122px ;
  /* align-items: center; */
  align-content: center;
  padding: 16px;
  background-color: #fff8f8;
  /* padding-top: 17px; */
  font-weight: bold;
  font-size:1rem;
  text-align: center

} 
.items p{
  margin: 0;
}
.items img{
  height:64px;
  width:64px;
  margin-bottom: 10px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  /* border: 2px solid black; */
  
}

@media(max-width:1373px) {
  .nav{
    height: 150px;

  }
  .items{
    height: 150px;
    text-align: center;
  }
}
#fash{
  position: relative;
  cursor: pointer;
  background-color: #fff;
  border: none;
  display: inline-block;
  align-content: center;
  align-items: center;
  /* padding: 0 auto; */
  text-align: center;
  /* align-self: center ; */
  z-index:50;
}
.items .dropdown2{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
  border-radius:10px;
  text-align: left;
  left: -180px;
  border-radius:  8px;
  background-color: #fff;
}

#item1{
  position: relative;
}
#item2{
  position: relative;
}
#item3{
  position: relative;
}
#item4{
  position: relative;
}
.dropdown21,
.dropdown22,
.dropdown23,
.dropdown24
{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 50;
  border-radius:10px;
  text-align: left;
  left: 240px;
  top:0;
  border-radius: 8px;
  background-color: #fff;
}

.dropdown22{
  top:-44px;
}
.dropdown23{
  top:-88px;
}
.dropdown24{
  top:-132px;
}
.dropdown21 a,
.dropdown22 a,
.dropdown23 a,
.dropdown24 a
{
  font-size:14px;
  color: black;
padding: 13px 14px;
text-decoration: none;
display: block;
font-weight: normal;
background-color: #fff;
border-radius: 0 0 8px 8px;
}

.dropdown21 a:hover,
.dropdown22 a:hover,
.dropdown23 a:hover,
.dropdown24 a:hover
{
  background-color: #ecf2f68e;
  font-weight: bold;
} 
.dropdown21 p,
.dropdown22 p,
.dropdown23 p,
.dropdown24 p
{
  padding: 9px 14px;
  background-color: #fff;
}

.items .dropdown2 #item{
  /* display: block; */
  font-size: 14px;
color: black;
padding: 13px 14px;
text-decoration: none;
display: block;
font-weight: normal;
background-color: #fff;
border-radius: 0 0 8px 8px;

}
.items .dropdown2 #item i{
  font-size:10px;
  float: inline-end;
  margin-top: 8px;
  background-color: #fff;
  visibility: hidden;
  
}
#fash:hover  .up{
  transform: rotate(180deg);
  transition: 0.5s;
  color: #047BD5;
}
.items .dropdown2 #item:hover{
background-color:  #ecf2f68e;
font-weight: bold;
}
.items .dropdown2 #item:hover  i{
  visibility: visible;
  background-color: #ecf2f68e;
}
#item1:hover  .dropdown21{
  display: block;
}
#item2:hover  .dropdown22{
  display: block;
}
#item3:hover  .dropdown23{
  display: block;
}
#item4:hover  .dropdown24{
  display: block;
}
#fash:hover .dropdown2{
  display: block;
}

.navi{
  min-height: 125px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  margin: 100px 10px;
  /* padding: 0 70px; */
  justify-content: center;
  /* margin: 0; */
  align-content: center;
  text-align: center;
  align-items:center ;
  overflow: hidden;
}

/* .navbar{
  display:flex;
  height:125px;
  padding: 0 70px;
  margin: 0;
  align-content: center;
  text-align: center;
  align-items:center ;


} */
.navi a{
  box-sizing: border-box;
 min-height:125px;
  min-width: 122px;
  border: 1px solid #a6a3a3;
  padding:16px;
  text-align: center;
  align-content: center;
  background-color: #fff;
}
.box{
  display:flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-items: center;
}

.box img{
  width: 64px;
  height:64px;
  align-content: center;
}
li p{
  margin: 0;;
}
.box span{
  margin-top: 8px;
}